doctype html
html(lang='en')

head
    meta(charset='utf-8')
    title Cograph | 404
    link(href='/assets/stylesheets/general.css', rel='stylesheet')  
    base(href='/')
  html
    body
      center
        br
        h1 404 Whoops
        br
        div Sorry, the document you are trying to reach is unavailable!
        br
        a(href='/') Return to Cograph