doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title 404 Error!
    base(href='/')
  html
    body(style='text-align: center; font-size: 24px;font-family:helvetica, sans-serif;')
      br
      h1 404 Error!
      br
      div Sorry, the document you are trying to reach is unavailable!
      br
      a(href='/landing') Return to GraphDocs