!!! 5
meta(charset='utf-8')
html
  head
    title Rhizi

    //script(type='text/javascript', data-main="main", src="/lib/require.js") //loads main.js

  body
    .topbar
      h1 This is some text.
    .main
      
