footer
  .container.clearfix
    p.pull-left
      | Copyright 2014 © Graphdocs Inc.
    p.pull-right
      a(href='/login') Login
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/signup') Sign up
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='mailto:hello@thecograph.com') Contact