footer
  .container.clearfix
    p.pull-left
      | Copyright 2014 © Graphdocs Inc.
    p.pull-right
      a(href="http://www.twitter.com/thecograph") @thecograph
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/login') Login
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/signup') Signup
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='mailto:hello@cograph.co') Contact