nav.navbar.navbar-default(role='navigation')
    .container-fluid
        // Brand, toggle and title get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://graphdocs.com') GraphDocs
          form.navbar-form.navbar-left.main-nav
            .form-group
              input#menu-title(type="text" placeholder="Untitled Doc" data-toggle="tooltip" data-placement="bottom" title="Rename Doc")
        // Collect the nav links, forms, and other content for toggling
        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a#new-doc-button(href="" data-toggle="modal" data-target="#new-doc-modal") New
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='')
                if isAuthenticated
                  | My Cographs
                else
                  | Explore Cographs
                span.caret
              ul.dropdown-menu
                li(role="presentation")
                  a#open-doc-button(href="") Open Cograph
                li(role="presentation")
                  a#workspaces-button(href="", data-toggle="modal", data-target="#workspaces-modal") Open Workspace
            li
              a#filter-modal-toggle(href="" data-toggle="modal" data-target="#filters_template") Filter
            li
              a#analytics-button(href="" data-toggle="modal" data-target="#analytics-modal") Analytics
            if isAuthenticated
              li
                a.public-button Make GraphDoc public
              li
                a(href="/profile") #{user.local.name}'s Profile
              li
                a(href="/logout") Logout
            else
              li
                a(href="/login") Login
