nav.navbar.navbar-default(role='navigation')
    .container-fluid
        // Brand, toggle and title get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          button#sidebar-toggle.btn.btn-default.navbar-brand(title="Open Menu") S
          form.navbar-form.navbar-left.main-nav
            .form-group
              input#menu-title(type="text" placeholder="Untitled Doc" data-toggle="tooltip" data-placement="bottom" title="Rename Doc")
        // Collect the nav links, forms, and other content for toggling
        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li
              button#save-workspace-button.btn.btn-primary
                div Save Workspace
            li
              button#sharing-button.btn.btn-primary
                div Share GraphDoc
