nav.navbar.navbar-default#menu-bar(role="navigation")
  .container-fluid
    .navbar-header
      a.navbar-brand(href="") GraphDocs
      ul.nav.nav-pills
        li
          a#new-doc-button(href="#", data-toggle="modal", data-target="#new-doc-modal")
            | New
        li
          a#open-doc-button(href="#")
            | Open
        li
          a#filter-modal-toggle(href="#", data-toggle="modal", data-target="#filters_template")
            | Filter
        li
          a#analytics-button(href="", data-toggle="modal", data-target="#analytics-modal")
            | Analytics
      #navbar-menu-title      
        input.navbar-text#menu-title(type="text", placeholder="Untitled Doc", data-toggle="tooltip", data-placement="bottom", title="Rename Doc")
