nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img#brand-logo(src="assets/images/logo-black.png")
          
        span.navbar-doc-title
            span.form-group
              a.public-button.clickable(title="who can see this graph")
              input#menu-title(type="text" placeholder="Untitled Doc")
              span.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='')
                  i.caret
                  //- if owns else other stuff
                ul.dropdown-menu
                  li(role="presentation")
                    a#workspaces-button Open View
                  li(role="presentation")
                    a#save-workspace-button Save View
                  li(role="presentation")
                    a#share-workspace-button Share View
                  li
                    a#analytics-button(href="" data-toggle="modal" data-target="#analytics-modal") Stats
                  
        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right 
            if isAuthenticated
              li#newgraph-icon
                a(href="/new" target="_blank" title="new graph")
                  img(src="assets/images/newgraph.png")
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='')
                  | #{user.local.name}
                  i.caret
                ul.dropdown-menu
                  li(role="presentation")
                    a(href="/#{user.local.name}") My Cographs
                  li(role="presentation")
                    a(href="/account") Account
                  li
                    a(href="/logout") Logout
            else
              li
                a(href="/login") Login
