nav.navbar.navbar-default#menu-bar(role="navigation")
  .container-fluid
    .navbar-header
      a.navbar-brand(href="") GraphDocs
      ul.nav.nav-pills
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | File
            span.caret
          ul.dropdown-menu
            li(role="presentation")
              a#new-doc-button(href="#", data-toggle="modal", data-target="#new-doc-modal")
                | New Document
            li(role="presentation")
              a#open-doc-button(href="#")
                | Open Document
        li.dropdown
          a#filter-modal-toggle(href="#", data-toggle="modal", data-target="#filters_template")
            | Filter
      input.navbar-text#menu-title(type="text", placeholder="Untitled Doc")
