extends layout

block content
  #sidebar
  #graph
    .loading-container
      i.fa.fa-circle-o-notch.fa-spin.fa-5x
    .toolbar.controls
      .navbar-left.navbar-form
        form#search-form.form-inline
          .input-group
            input#search-input.form-control(type="text", name='search-term' placeholder="Search...")
          button#sidebar-toggle.btn.btn-default(title="Toggle Sidebar")
            i.fa.fa-arrows-h
    .toolbar.right.controls
      .navbar-right.navbar-form
        form#add-node-form.form-inline
          .input-group
            input.node-input.form-control(type="text", name='name', placeholder="Add something")
            span.input-group-btn
              button.btn.btn-primary(type="submit", value="+")  
                i.fa.fa-plus  
          .form-group.node-description.hide
            textarea.form-control(name='description', placeholder="Enter a description")

    .toolbar.bottom.right.controls
      .share-holder
        #share-button(data-toggle="popover" title="Name this snapshot to save it." data-placement="top")
    #zoom-controls.btn-group-vertical.controls
      button#zoom-in-button.btn.btn-primary(title="Zoom In")
        i.glyphicon.glyphicon-plus
      button#zoom-out-button.btn.btn-primary(title="Zoom Out")
        i.glyphicon.glyphicon-minus
    #trash-bin.controls(title="Drag a node here to Archive it")
      i.fa.fa-eye-slash
  .data-tooltip-container
