doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Cograph
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(href='assets/libs/iconset/flaticon.css', rel='stylesheet', type='text/css')
    link(href='assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/stylesheets/index.css', rel='stylesheet')
    link(href="neural/css/app.css", rel='stylesheet')
  body
    #canvas-container.jumbotron
    script#vertexshader-axon(type='x-shader/x-vertex').
      uniform float opacityMultiplier;
      attribute float opacityAttr;
      varying float opacityNew;
      void main() {
        opacityNew = opacityAttr * opacityMultiplier;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0 );
      }
    script#fragmentshader-axon(type='x-shader/x-fragment').
      uniform vec3 color;
      varying float opacityNew;
      void main() {
        gl_FragColor = vec4(color, opacityNew);
      }
    
    nav.navbar.navbar-default.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.nav-link
            img.brand-logo(src='assets/images/brand-w.png')

        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/login') Login
            li
              a(href='/request-key') Request Beta Key

    #top.jumbotron
      .container
        h1 Discover new connections
        p#button-container
          a#create.btn.btn-primary.btn-lg.call-to-action(href="/request-key") Make a Cograph
          a#open.btn.btn-info.btn-lg.call-to-action(href="/request-key") Explore Cographs

    .container.main-content
      .row
        .col-md-12
          h3 What are Cographs?
          h3.full-size
            strong Cographs are webs of ideas that you can create, explore and publish.
          br
          h3 Why should I use cographs?
          h3.full-size
            strong Cographs put information in context.
          br
          h3 Popular Cographs
          h3.full-size
            strong Coming soon.
          br
      hr
      h3.header-titles What can I do with Cograph?
      .row
        .col-xs-12.col-md-4.benefit
          .benefit-ball
            i.flaticon-idea13
          h3 
            strong Add
          p Add information from across the web

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cell9
          h3 
            strong Connect
          p Create annotated connections between things

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-teamwork
          h3 
            strong Collaborate
          p Edit cographs in real time with others.
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-earth180
          h3 
            strong Explore
          p Filter, search and tag your graphs or expand connections. 

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rating
          h3 
            strong Share
          p Share cographs to your favorite social media and decide who can contribute to them

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-code26
          h3
            strong Embed
          p Add cographs to your website or blog posts

      h3.header-titles We're in Beta. Our Next Features are
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rocket60
          h3 
            strong API
          p Post/get data with cograph

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cells1
          h3 
            strong Intergraph
          p Connect between nodes across different cographs.

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-circular152
          h3 
            strong Faster access
          p Browser extensions to make it faster to connect content
    include footer
    script(src="neural/js/vendor/Detector.js")
    script(src="neural/js/vendor/dat.gui.min.js")
    script(src="neural/js/vendor/stats.min.js")
    script(src="neural/js/vendor/three.min.js")
    script(src="neural/js/vendor/OrbitControls.js")
    script(src="neural/js/vendor/OBJLoader.js")
    script(src="neural/js/three-app.js")
    script(src='assets/libs/jquery/dist/jquery.min.js')
    script(src='assets/libs/bootstrap/dist/js/bootstrap.min.js')