doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Cograph
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(href='assets/libs/iconset/flaticon.css', rel='stylesheet', type='text/css')
    link(href='assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/stylesheets/index.css', rel='stylesheet')
  body
    #canvas-container.jumbotron
      video(autoplay loop poster="assets/images/cograph.png")
        source(src="assets/images/cograph.mp4" type="video/mp4")
    
    nav.navbar.navbar-default.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.nav-link
            img.brand-logo(src='assets/images/brand-w.png')

        .collapse.navbar-collapse.navbar-ex1-collapse
          if isAuthenticated 
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/explore") Explore
              li
                a(href="/#{user.local.nameLower}") @#{user.local.name}
          else
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/login") Login
              li
                a(href="/signup") Signup
    .container.main-content
      .row 
        .col-md-6
          h1 Explore the graph of your tweets 
          h3.white Annotate, Connect, and Share your tweets + notes + ideas
        .col-md-6
          center
            iframe(width="560" height="315" src="https://www.youtube.com/embed/xUl9IdOwHDI" frameborder="0" allowfullscreen)
      .row
        .col-xs-12.col-md-4.benefit
          .benefit-ball
            i.flaticon-idea13
          h3 
            strong Add
          p Add snippets from across the web

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cell9
          h3 
            strong Connect
          p Create annotated connections between things

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-teamwork
          h3 
            strong Collaborate
          p Edit in real time with others.
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-earth180
          h3 
            strong Explore
          p Filter, search and tag your graphs or expand connections. 

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rating
          h3 
            strong Share
          p Share cographs to your favorite social media and decide who can contribute to them

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-code26
          h3
            strong Embed
          p Add cographs to your website or blog posts
      hr
      .row.links
        .col-md-4
          center
            a(href="http://github.com/willzeng/cograph")
              img(src="assets/images/GitHub-Mark-32px.png") 
              span(id="github") Open Source
        .col-md-4
          center
            a(href="http://www.cograph.co/wjzeng/document/1916") See an Example
        .col-md-4
          center
            a(href="/signup") Signup
      hr
      h3.header-titles We are in Beta. Our Next Features are:
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rocket60
          h3 
            strong API
          p Post/get data with cograph

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cells1
          h3 
            strong Intergraph
          p Connect between nodes across different cographs.

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-circular152
          h3 
            strong Integration
          p Browser extensions to make it faster to connect content, evernote sync
    include footer
    script(src='assets/libs/jquery/dist/jquery.min.js')
    script(src='assets/libs/bootstrap/dist/js/bootstrap.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38168348-4', 'auto');
      ga('send', 'pageview');