extends layout

block sidebar
  .sidebar.left#sidebar
    ul.nav.nav-stacked
      li
        a#new-doc-button(href="" data-toggle="modal" data-target="#new-doc-modal")
          i.fa.fa-plus
          | New
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-folder-open-o
          | Open
          //- span.caret
        ul.dropdown-menu
          li(role="presentation")
            a#open-doc-button(href="") Open GraphDoc
          li(role="presentation")
            a#workspaces-button(href="", data-toggle="modal", data-target="#workspaces-modal") Open Workspace
      li
        a#filter-modal-toggle(href="" data-toggle="modal" data-target="#filters_template")
          i.fa.fa-filter
          | Filter
      li
        a#analytics-button(href="" data-toggle="modal" data-target="#analytics-modal")
          i.fa.fa-line-chart
          | Stats
  .sidebar.right#sidebar-right
    ul.nav.nav-stacked
      li
        a#save-workspace-button(data-toggle="popover" title="Name this View [Optional]." data-placement="left" data-container="#graph")
          i.fa.fa-laptop
          | Save View
      li
        a#sharing-button 
          i.fa.fa-share
          | Share


block content
  #graph
    .loading-container
      .spinner
        .double-bounce1
        .double-bounce2
  .controls
    form#add-node-form.form-inline.center-block
      #add.contracted
        textarea#add-title(name="name", placeholder='Title', rows='1')
        textarea#add-description(name="description", placeholder='Add Something', rows='1')
        #add-toolbar.cf
          #add-toolbar-left
            button#add-color.color-circle(type="button")
              i.fa.fa-circle(title="Change color")
            div#add-color-container.hidden
            button#add-image(type="button")
              i.fa.fa-image(title='Add image')
            input#add-image-container.hidden(type="text", placeholder="image url")
          #add-toolbar-right
            button#add-submit(title='Create something')
              | Done
    .toolbar.right
        #phantom-share

    .toolbar.bottom.right.controls
      form#search-form.form-inline.pull-left
        .input-group
          input#search-input.form-control(type="text", name='search-term' placeholder="Search...")
      #zoom-controls.btn-group-vertical.controls.pull-right
        button#zoom-in-button.btn(title="Zoom In")
          i.glyphicon.glyphicon-plus
        button#zoom-out-button.btn(title="Zoom Out")
          i.glyphicon.glyphicon-minus

  

  