extends layout

block content
  #sidebar
  #graph
    .loading-container
      .spinner
        .double-bounce1
        .double-bounce2

    .toolbar.controls
      .navbar-left.navbar-form
        form#search-form.form-inline
          .input-group
            input#search-input.form-control(type="text", name='search-term' placeholder="Search...")
          //- button#sidebar-toggle.btn.btn-default(title="Toggle Sidebar")
          //-   i.fa.fa-arrows-h
    .toolbar.right.controls
      .navbar-right.navbar-form
        form#add-node-form.form-inline
          #add.contracted
            textarea#add-title(name="name", placeholder='Title', rows='1')
            textarea#add-description(name="description", placeholder='Add Something', rows='1')
            #add-toolbar.cf
              #add-toolbar-left
                button#add-color.color-circle(type="button")
                  i.fa.fa-circle(title="Change color")
                div#add-color-container.hidden
                button#add-image(type="button")
                  i.fa.fa-image(title='Add image')
                input#add-image-container.hidden(type="text", placeholder="image url")
              #add-toolbar-right
                button#add-submit(title='Create something')
                  | Done

    .toolbar.bottom.right.controls
      button#save-workspace-button.btn.btn-primary(data-toggle="popover" title="Name this View [Optional]." data-placement="top" data-container="#graph")
        div 
          i.fa.fa-save
          span &nbsp;Save View
      button#sharing-button.btn.btn-primary
        div
          i.fa.fa-share
          span &nbsp; Share
      #phantom-share
    #zoom-controls.btn-group-vertical.controls
      button#zoom-in-button.btn.btn-default(title="Zoom In")
        i.glyphicon.glyphicon-plus
      button#zoom-out-button.btn.btn-default(title="Zoom Out")
        i.glyphicon.glyphicon-minus
    #trash-bin.controls(title="Drag a node here to Archive it")
      i.fa.fa-eye-slash
  .data-tooltip-container
