extends layout

block content
  #sidebar
  #graph
    .loading-container
      .spinner
        .double-bounce1
        .double-bounce2

    .toolbar.controls
      .navbar-left.navbar-form
        
          //- button#sidebar-toggle.btn.btn-default(title="Toggle Sidebar")
          //-   i.fa.fa-arrows-h
    .toolbar.right.controls
      .navbar-right.navbar-form
        form#add-node-form.form-inline
          #add.contracted
            textarea#add-title(name="name", placeholder='New node', rows='1')
            textarea#add-description(name="description", placeholder='Description - Use #tags @people +connect', rows='1')
            #add-toolbar.cf
              #add-toolbar-left
                button#add-color.color-circle(type="button")
                  i.fa.fa-circle(title="Change color")
                div#add-color-container.hidden
                button#add-image(type="button")
                  i.fa.fa-image(title='Add image')
                input#add-image-container.hidden(type="text", placeholder="image url")
              #add-toolbar-right
                button#add-submit(title='Create something')
                  | Done

    .toolbar.bottom.right.controls#toolbar-bottom-right
      ul.nav.navbar-nav
        li
          a#filter-modal-toggle(href="" data-toggle="modal" data-target="#filters_template")
            i.fa.fa-filter(title="filter")
        li
          form#search-form.form-inline
            .input-group
              input#search-input.form-control(type="text", name='search-term' placeholder="Search")
        li
          .btn-group-vertical.controls
            button#zoom-in-button.btn.btn-default(title="Zoom In")
              i.glyphicon.glyphicon-plus
            button#zoom-out-button.btn.btn-default(title="Zoom Out")
              i.glyphicon.glyphicon-minus
    #trash-bin.controls(title="Drag a node here to Archive it")
      i.fa.fa-eye-slash
      span#number-hidden 0
  .data-tooltip-container
