#toolbar
      form#search-form.navbar-form.navbar-left
        .form-group
          input.form-control(type="text", name='search-term' placeholder="Search...")
        button.btn.btn-default(type="submit")
          i.fa.fa-search     
    
    #sidebar-container
      #sidebar
        
      #add-container

        form#add-node-form.navbar-form.navbar-left
          .form-group
            input.form-control(type="text", name='node-name', placeholder="Add something")
          button.btn.btn-default(type="submit")
            i.fa.fa-plus
        button#sidebar-toggle.btn.btn-default Toggle Sidebar

