doctype html
html(lang="en")
head
    meta(charset='utf-8')
    title GraphDocs
    link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/stylesheets/landing.css', rel='stylesheet')
    link(href="/assets/libs/feedback-bot/src/feedback.css")
    script(type='text/javascript', data-main="landing", src="/assets/libs/requirejs/require.js") //loads landing.js
    script.
        window.prefetch =!{JSON.stringify(docs)};
    base(href="/")

  body
    #circle
    #container
      #splash
        b Graph
        span.light Docs
      #tagline
        | A way to &nbsp
        span.highlight build
        | &nbsp and &nbsp
        span.highlight explore graphs
      #button-container
        input#create(type='button', value='Create new')
        input#open(type='button', value='Open existing')
