doctype html
html(lang="en")
head
    meta(charset='utf-8')
    title GraphDocs
    link(href='/assets/stylesheets/landing.css', rel='stylesheet')
  body
    #circle
    #container
      #splash
        b Graph
        span.light Docs
      #tagline
        | A way to &nbsp
        span.highlight build
        | &nbsp and &nbsp
        span.highlight explore graphs
      #button-container
        input#create(type='button', value='Create new')
        input#open(type='button', value='Open existing')
