html
  head
    title Cograph | Login
    // For Development
    link(href='/assets/stylesheets/main.css', rel='stylesheet')
    script(type='text/javascript', data-main="/main", src="/assets/libs/requirejs/require.js") //loads main.js

    // For production
    //link(href='/assets/stylesheets/main-built.css', rel='stylesheet')
    //script(type='text/javascript', data-main="/main-built", src="/assets/libs/requirejs/require.js")
       
  body#login-page
    include nav
    .container-fluid.pad-top
      .row
        .col-md-6.col-md-offset-3.col-xs-12#login-form
          h3 Login
          br
          p  
            a(href="/auth/twitter")
              img(src="assets/images/sign-in-with-twitter-gray.png")
          | or
          hr
          // show any messages that come back with authentication
          if message && message.length > 0 
            .alert.alert-danger #{message}

          // LOGIN FORM 
          form(action='/login', method='post')
            .form-group
              label Email
              input.form-control.input-lg(type='text', name='email')
            .form-group
              label Password
              input.form-control.input-lg(type='password', name='password')
            button.btn.btn-success.btn-lg.pull-right(type='submit') Login
          p
            a(href='/forgotten-password') Forgot your Password?
          p
            | Need an account? 
            a(href='/signup') Signup
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38168348-4', 'auto');
      ga('send', 'pageview');