html
  head
    title GraphDocs Login
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  body(style='padding-top:80px;')
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Login
        // show any messages that come back with authentication
        if message.length > 0 
          .alert.alert-danger #{message}

        // LOGIN FORM 
        form(action='/login', method='post')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Login
        hr
        p
          | Need an account? 
          a(href='/u/signup') Signup
        p
          | Or go 
          a(href='/') home
          | .
