html
  head
    title Cograph | Login
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href="neural/css/app.css", rel='stylesheet')
    link(href='/assets/stylesheets/general.css', rel='stylesheet')
    link(href='/assets/stylesheets/login.css', rel='stylesheet')        

  body
    #canvas-container.jumbotron
    script#vertexshader-axon(type='x-shader/x-vertex').
      uniform float opacityMultiplier;
      attribute float opacityAttr;
      varying float opacityNew;
      void main() {
        opacityNew = opacityAttr * opacityMultiplier;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0 );
      }
    script#fragmentshader-axon(type='x-shader/x-fragment').
      uniform vec3 color;
      varying float opacityNew;
      void main() {
        gl_FragColor = vec4(color, opacityNew);
      }
    #brand-big
      a(href="/")
        img(src="/assets/images/logo.png")
    .container-fluid.pad-top
      .row
        .col-md-6.col-md-offset-3.col-xs-12#login-form
          h3
            strong Welcome Back!
          br
          p  
            a(href="/auth/twitter")
              img(src="assets/images/sign-in-with-twitter.png")
          hr
          // show any messages that come back with authentication
          if message.length > 0 
            .alert.alert-danger #{message}

          // LOGIN FORM 
          form(action='/login', method='post')
            .form-group
              label Email
              input.form-control.input-lg(type='text', name='email')
            .form-group
              label Password
              input.form-control.input-lg(type='password', name='password')
            button.btn.btn-default.btn-lg.pull-right(type='submit') Login
          p
            a(href='/forgotten-password') Forgot your Password?
          p
            | Need an account? 
            a(href='/signup') Signup
    script(src="neural/js/vendor/Detector.js")
    script(src="neural/js/vendor/dat.gui.min.js")
    script(src="neural/js/vendor/stats.min.js")
    script(src="neural/js/vendor/three.min.js")
    script(src="neural/js/vendor/OrbitControls.js")
    script(src="neural/js/vendor/OBJLoader.js")
    script(src="neural/js/three-app.js")