nav.navbar.navbar-default#main-nav(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img#brand-logo(src="assets/images/brand-b.png")
    if isAuthenticated 
      #gdocs-nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/explore") Explore
          li
            a(href="/#{user.local.nameLower}") @#{user.local.name}
    else
      #gdocs-nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/login") Login
          li
            a(href="/signup") Signup