nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://thecograph.com')
            img#brand-logo(src="assets/images/logo.svg")
          
        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='')
                | #{user.local.email.split('@')[0]}
                i.caret
              ul.dropdown-menu
                li(role="presentation")
                  a(href="") Profile
                li(role="presentation")
                  a(href="") Account
                li
                  a(href="/logout") Logout
            li
              a(href="/profile") 

          ul.nav.navbar-nav   
            li
              a Discover
            li
              a My Cographs
            li
              a(href="/new") New Cograph
            //- Analytics can go on the profile somewhere
            //- li
            //-   a#analytics-button(href="" data-toggle="modal" data-target="#analytics-modal") Analytics
            
