html
  head
    title Cograph | Signup
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/assets/stylesheets/custom-bootstrap-theme.css', rel='stylesheet')
    link(href='/assets/stylesheets/general.css', rel='stylesheet')
    link(href='/assets/stylesheets/nav.css', rel='stylesheet')    
    base(href="/")
  body
    include nav
    .container-fluid.pad-top
      .row
        .col-md-6.col-md-offset-3.col-xs-12
          br
          h2 Signup
          // show any messages that come back with authentication
          if message && message.length > 0 
            .alert.alert-danger #{message}
          p  
            a(href="/auth/twitter")
              img(src="assets/images/sign-in-with-twitter-gray.png")
          u OR
          br 
          br
          // SIGNUP FORM 
          form(action='/signup', method='post').cf
            .form-group
              label Username*
              input.form-control(type='text', name='name')
            .form-group
              label Email*
              input.form-control(type='email', name='email') 
            .form-group
              label Password*
              input.form-control(type='password', name='password')
            button.btn.btn-info.pull-right.btn-lg(type='submit') Signup
          hr
          p
            a(href='/login') Already have an account?
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38168348-4', 'auto');
      ga('send', 'pageview');