<!-- app/views/users/user-index.jade -->
html
  head
    title GraphDocs
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  body(style='padding-top:80px;')
    .container
      .jumbotron.text-center
        h1
          span.fa.fa-lock
          |  GraphDocs
        p Login or Register with:
        a.btn.btn-default(href='/u/login')
          span.fa.fa-user
          |  Local Login
        a.btn.btn-default(href='/u/signup')
          span.fa.fa-user
          |  Local Signup
