// just test code to make sure less is working
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@pink: rgb(255, 130, 189);

@node-color: @nice-blue;

.node circle {
  cursor: pointer;
  stroke: @node-color;
  stroke-width: 3px;
}

.node text {
  font: 14px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

.connection {
  stroke: grey;
  stroke-width: 8px;
  opacity: 0.5;
}
