@import "colors";

@body-background: @white; /*#efefef;*/

@node-color: white;
@connection-color: black;
@stroke-color: black;
@selected-color: #74DDFC;
@selected-nodetext-color: white;
@fixed-color: @orange;
@text-color: #333;
@controls-z-index: 1;
@left-sidebar-z-index: @controls-z-index+1;

@bottom-margin:70px;

.node {
  /*transition: opacity .5s ease-in-out;*/
}

.node.dim {
  opacity: 0.3;
}

.node.fixed .node-connector {
  stroke-width: 2px;
  stroke: orange;
}

.node.fixed .node-fix {
  color: @fixed-color;
}

.node.image .node-title-body .pad {
  padding-left: 10px;
}

.node.selected .node-connector {
  stroke-width: 2px;
  stroke: @selected-color;
}

.node-title-body:hover {
  background: @white;
}

.node-title-body {
  // text-align: center;
  background: transparent;
  color: #222;
  -ms-word-break: break-all;
  word-break: break-all;

  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  height: auto;
}

.node, .connection {
  cursor: pointer;
}

.node-info-body, .connection-info-body {
  background: @white;
  display: none;
  color: gray;
  height: auto;
  font-size: 14px;
  line-height: normal;
}

.pad {
  padding: 6px;
}

.node-title-body.shown {
  background: @white;
}

.node-info-body.shown, .connection-info-body.shown {
  display: block;
}

.node line {
  stroke: #bbb;
}

.node-title-body {
  cursor: pointer;
  font: 16px sans-serif;
  font-weight:bold;
  text-anchor: middle;
  fill: @text-color;
}

.connection text {
  font: 12px sans-serif;
  text-anchor: middle;
  fill: @black;
  cursor: pointer;
  text-shadow: 0 1px 0 #eee, 1px 0 0 #eee, 0 -1px 0 #eee, -1px 0 0 #eee;
}

.connection line {
  stroke: @connection-color;
  stroke-width: 6px;
  stroke-linecap:round;
  opacity: 0.5;
  cursor: pointer;
}

.connection line.select-zone {
  stroke: transparent;
  stroke-width: 15px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.connection.selected line.select-zone {
  stroke: @selected-color;
  stroke-width: 5px;
  opacity: 1;
  visibility: visible;
}

.node-expand-count {
  box-sizing: border-box;
  margin-left: -5px;
  font-size: 9px;
  vertical-align: bottom;
}

.connection.selected line {
  stroke: @selected-color;
  opacity: 1;
}

.connection.selected text {
  /*text-shadow: 0 2px 0 white, 2px 0 0 white, 0 -2px 0 white, -2px 0 0 white;*/
}

.connection.dim line {
  opacity: 0.1;
}

.connection.dim text {
  opacity: 0.3;
}

line {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

line.dragline {
  pointer-events: none;
}

line.hidden {
  stroke-width: 0;
}

html, body {
  overflow: hidden;
  background: @body-background;
  height: 100%;
}

#main-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#graph {
  width: 100%;
  height: 100%;
  position: fixed;
}

.uptwo {
  margin-top: -15px;
}

input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}
input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

#zoom-controls {
  position: absolute;
  bottom: @bottom-margin;
  left: 15px;
}

.sidebar {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background: darken(#284552,10%);
  overflow-y: auto;
}

.sidebar.left {
  left:0;
  z-index: @left-sidebar-z-index;
}

.sidebar.right{
  right:0;
}

#sidebar-toggle {
  margin-left: 10px;
}

#trash-bin {
  height: 81px;
  width: 200px;
  font-size: 26pt;
  color: lightgray;
  position: absolute;
  bottom:@bottom-margin;
  left: 70px;
  padding-top:12px;
  text-align: center;
  border: 4px dashed lightgray;
  border-radius: 0px;
}

#trash-bin.selected {
  border-color:@selected-color;
  color:@selected-color;
}

.close {
  outline: none;
  font-size: 40px;
  opacity: 0.4;
}

#details-container {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  .panel {
    border-radius: 0;
  }
}

.detail-controls{
  padding-bottom: 10px;
}

.toolbar {
  position: absolute;
}

.toolbar.left {
  left: 15px;
  /*z-index: @controls-z-index + 1;*/
}

.toolbar.right {
  right: 15px;
}

.toolbar.bottom {
  position: absolute;
  bottom: @bottom-margin;

  .btn {
    margin-right:3px;
    margin-left: 3px;
  }
}

.controls {
  z-index: @controls-z-index;
}

#add-node-form {
  width: 255px;
  textarea {
    width: 230px;
    margin-top: 8px;
  }
}

#filter-panel {
 max-height: 250px; 
 overflow-y: scroll;
}

.edit-details-form input[type="text"], .edit-details-form button[type="button"] {
  padding: 2px 5px;
  height: auto;
}

.edit-details-form .help-block, .edit-details-form .form-group, .edit-details-form .label {
  margin: 2px 0px;
}

.main-nav {
  border: 0;
}

.search-title {
  padding: 12px 16px;
  font-size: 16pt;
}

.modal-body {
  max-height: 600px; // #TODO make this relative to the window height.
  overflow-y: scroll;
}

.panel {
  border: 0;
}

#menu-title {
  position: relative;
  outline: none;
  color: black;
  border: 0;
  cursor: pointer;
  padding: 6px;
  top: 8px;
}

#menu-title:focus {
  cursor: text;
}

.network-share-button {
  margin-right:auto;
  margin-left:auto;
}

.loading-container {
  width: 100px;
  height: 100px;
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  i {
    position:relative;
    color:@gray;
  }
}

.workspaces-list {
  .btn-danger{
    position: relative;
    bottom: 5px;
  }
}

// Overriding Bootstrap defaults

.btn {
  outline: none !important;
  border-radius: 0 !important;
}

.btn-primary {
  background: darken(#284552,10%);
  border: 1px solid darken(#284552,10%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  border: 1px solid darken(#284552,12%);
  background: darken(#284552,12%);;
  color: white;
}

.navbar {
  margin-bottom: 0;
  background: @white;
  border: 0;
  border-radius: 0;
}

.panel-body {
  padding: 10px 15px;
}

.form-control {
  border-radius: 0 !important;
}

.sidebar .list-group-item {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #2C93FF;
  cursor: pointer;
}

// Bootstrap-colorpalette

.bootstrap-colorpalette {
    padding: 10px 0 10px 0;
    white-space: normal;
    line-height:1;
}

.bootstrap-colorpalette div {
    line-height:0;
}

.bootstrap-colorpalette .btn-color {
    width: 30px;
    height: 30px;
    border: 1px solid #efefef;
    margin: 3px;
    padding: 0;
}

.bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}

.node-toolbar button {
  padding:  2px 4px;
  color: gray;
  border: 0;
  background: none;
  outline: none;
}

.node-toolbar button:hover {
  color: #3366BB;
}

.node-toolbar button:active {
  color: #0645AD;
}

.node-toolbar {
  text-align: middle;
  padding: 3px 3px 3px 6px;
  border-bottom: 1px solid gray;
}
