// ALL PAGES styles except for navigation

@import "font";

@import "colors";
@font: 'Lato Light', Helvetica, sans-serif;

body {
	font-family: @font, sans-serif;
}

// CLEARFIX

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

// END CLEARFIX

.btn {
  outline: none !important;
  border-radius: 0 !important;
}

.btn-primary {
  background: lighten(#284552,10%);
  border: 1px solid lighten(#284552,10%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  border: 1px solid lighten(#284552,12%);
  background: lighten(#284552,12%);;
  color: white;
}

.panel-body {
  padding: 10px 15px;
}

.form-control {
  border-radius: 0 !important;
}

.document-list {
  max-height: 100%;
}

// FOOTER

footer {
  background: url('../images/footer-bg.png');
  font-size: 16px;
  margin: 3.5em 0 0;
  padding: 1.5em 0 0.8em;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: darken(white, 10%);
  text-decoration: none;
  border-bottom: 2px solid white;
}

// END FOOTER

.link-badge{
  position:relative;
  bottom:30px;
  right:15px;
}