body, html {
  background: #eee;
}

#mobile-site .highlight {
  background: royalblue;
}

#mobile-site .form-group {
  padding: 5px 0;
  background: white;
  margin-bottom: 0px;
}

.tab-pane {
  background: white;
}

.tab-content > div {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  box-sizing: border-box;
}

.btn {
  padding: 7px 12px 6px 12px;
  outline: none !important;
}

#main-tabs a {
  cursor: pointer;
}

#add-connection, #add-node {
  margin-right: 5px;
}

.red {
  background-color: rgb(148, 0, 0) !important;
}