// This stylesheet provides the navigation styles across
// the site.

.main-nav {
  padding: 0;
  border: 0;
}

#brand-logo {
  height: 50px;
  margin-top: -15px;
  margin-right: 10px;
  margin-left: -5px;
}

#brand-icon {
  display: none;
  height: 35px;
  margin-top: -10px;
}

.navbar-default:not(.navbar-transparent) {
  border-bottom: 0;
}

.navbar-brand {
  z-index: 999;
  display: block;
  pointer-events: all;
  cursor: pointer;
}

.panel {
  border: 0;
}

#newgraph-icon {
  height: 22px;

  img {
    height:32px;
    margin-top:-9px;
  }
}

#main-nav {
  margin: 30px 0;
}

#menu-title {
  position: relative;
  outline: none;
  margin: 0 10px;
  background: transparent;
  color: black;
  border: 0;
  cursor: pointer;
  padding: 6px;
}

#gdocs-nav .popover-content {
  word-break: break-all;
  width: 200px;
}

#menu-title:focus {
  cursor: text;
}

#phantom-share{
  position:relative;
  top: 30px;
  right:35px;
  z-index:2;
}

.navbar {
  margin-bottom: 0;
  background: white;
  border: 0;
  border-radius: 0;
}