<marker
      id="draghead"
      viewBox="0 -5 10 10"
      refX="5"
      refY="0"
      markerWidth="3"
      markerHeight="3"
      orient="auto"
      fill="black">
  <path d="M0,-5L10,0L0,5"></path>
</marker>
<marker
      id="arrowhead"
      viewBox="0 -5 10 10"
      refX="16"
      refY="0"
      markerWidth="3"
      markerHeight="3"
      orient="auto"
      fill="gray"
      stroke="white"
      stroke-width="4px"
      stroke-location="outside">
  <path d="M0,-5L10,0L0,5"></path>
</marker>
<filter id="blur-effect">
  <feGaussianBlur stdDeviation="2" />
</filter>