<marker
      id="draghead"
      viewBox="0 -5 10 10"
      refX="5"
      refY="0"
      markerWidth="3"
      markerHeight="3"
      orient="auto"
      fill="black">
  <path d="M0,-5L10,0L0,5"></path>
</marker>
<marker
      id="arrowhead"
      viewBox="0 -5 10 10"
      refX="13"
      refY="0"
      markerWidth="5"
      markerHeight="5"
      orient="auto"
      fill="#aaa"
      stroke="white"
      stroke-width="4px"
      stroke-location="outside">
  <path d="M0,-5L10,0L0,5"></path>
</marker>
<marker
      id="arrowhead-selected"
      viewBox="0 -5 10 10"
      refX="13"
      refY="0"
      markerWidth="5"
      markerHeight="5"
      orient="auto"
      fill="#3498db"
      stroke="white"
      stroke-width="4px"
      stroke-location="outside">
  <path d="M0,-5L10,0L0,5"></path>
</marker>
