  <div class="pad">
      <div class="node-toolbar">
        <i class="fa fa-thumb-tack node-fix"></i>
        <i class="fa fa-plus-circle node-add-related"></i>
<!--         <i class="fa fa-archive"></i>
 -->    <i class="fa fa-link node-connect"></i>
        <i class="fa fa-trash node-archive"></i>
      </div>
      <div>
      <%= attributes.description %>
      </div>
      <% if(_.some(attributes.tags)){ %>
        <div>
        <i class="fa fa-tags"></i>
        <%= attributes.tags.join(", ") %>
        </div>
      <% } %>
  </div>
