<div class="node-toolbar">
  <button type="button"><i class="fa fa-thumb-tack node-fix"></i></button>
  <button type="button"><i class="fa fa-plus-circle node-add-related"></i></button>
  <button type="button"><i class="fa fa-link node-connect"></i></button>
  <button type="button"><i class="fa fa-archive node-archive"></i></button>
</div>
<% if((attributes.description != null && attributes.description != "") || _.some(attributes.tags)){ %>
  <div class="pad">
    <div>
    <%= attributes.description %>
    </div>
    <% if(_.some(attributes.tags)){ %>
      <div>
      <i class="fa fa-tags"></i>
      <%= attributes.tags.join(", ") %>
      </div>
    <% } %>
  </div>
<% } %>