<div class="node-toolbar">
  <% if(constructor.name === "NodeModel"){ %>
  <button type="button" class="node-fix"><i class="fa fa-thumb-tack"></i></button>
  <button type="button" class="node-add-related"><i class="fa fa-plus-circle"></i></button>
  <button type="button" class="node-connect"><i class="fa fa-link"></i></button>
  <% } %>
  <button type="button" class="node-archive" data-id=<%=attributes._id%>><i class="fa fa-archive"></i></button>
</div>
<% if((attributes.description != null && attributes.description != "") || _.some(attributes.tags)){ %>
  <div class="pad">
    <div>
    <%= attributes.description %>
    </div>
    <% if(_.some(attributes.tags)){ %>
      <div>
      <i class="fa fa-tags"></i>
      <%= attributes.tags.join(", ") %>
      </div>
    <% } %>
  </div>
<% } %>