<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
        Node Filters
    </h4>
  </div>

  <div class="panel-body">
    <p>
      <ul class="list-group">
        <% _.each(tags, function(tag) { %>
          <li class="list-group-item">
            <input type='checkbox' class="filter-toggle" checked='true' data-id=<%= tag %>>
              <%= tag %>
            </input>
          </li>
        <% }); %>
      </ul>
    </p>
  </div>

</div>

<button id='filter-button' class="btn btn-primary" type="button">Apply Filter</button>
