<h6>Cograph Name</h6>
<input id="menu-title" type="text" placeholder="Untitled Doc" value="<%=name%>" />
<h6>Who can see it</h6>
<a class="public-button-view clickable" title="who can see this graph"></a>
<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Anyone</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Anyone with the link</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Only me</button>
  </div>
</div>
<h6>Who can edit it</h6>
<a class="public-button-edit clickable" title="who can see this graph"></a>
<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Anyone</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Anyone with the link</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Only me</button>
  </div>
</div>
<br/>
<button id="save-graph-settings" class="btn btn-primary pull-right">Save Changes</button>